*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

.vscode

# Logs and temp files
*.log
*.tmp

# Kotlin/Java
*.class
out/

# Android signing
*.jks
*.keystore

# IntelliJ/Android Studio extra files
/.idea/shelf/
/.idea/httpRequests/
